*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: purple;
}

/* Navigation */
nav {
    height: 75px;
    width: 100%;
    background-color: rgb(136, 0, 0);
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
}

.logo {
    margin-left: 20px;
}

.logo-text {
    font-size: 30px;
    line-height: 75px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
}

.nav-list {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: #2a3b51;
    float: right;
    text-align: center;
    transition: all .5s;
}

.nav-list li {
    opacity: 0;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-list li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.nav li a.active, .nav-list li a:hover {
    color: #0279e5;
    transition: 0.5s;
}

.hamburger-btn {
    display: block;
    font-size: 30px;
    color: white;
    float:right;
    line-height: 75px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked ~ .nav-list {
    height: 100vh;
}

#check:checked ~ .nav-list li{
    opacity: 1;
}



/* Optional for desktop */
@media only screen and (min-width: 900px) {
    .logo-container {
        margin-left: 25px;
    }

    nav {
        height:  100px;
        background-color: transparent;
    }

    .hamburger-btn {
        display: none;
    }

    .nav-list {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        float: right;
        text-align: right;
        margin-right: 25px;
        transition: none;
    }

    .nav-list li {
        display: inline-block;
        opacity: 1;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-list li a.active, .nav-list li a:hover {
        color: #000000;
    }

    .header {

        background-color: #000000;
        font-size: 10px;
        padding: 10px;
        text-align: right;
        text-decoration: none;
        color: #f2f2f2;
    }
    
    .header p{
        color: #f2f2f2;
    }
    
    .header a{
        color: inherit;
    }
}


@keyframes slideShow {
    0%{left: 0;}
    20%{left: 0%;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
}
#slider {
    overflow: hidden;
}
#slider figure img{
    width: 20%;
    height: 100;
    float: left;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slideShow infinite;
}

/* Style the  navbar */
#navbar {
    overflow: hidden;
    background-color: rgb(192, 186, 186);
    z-index: 5;
    opacity: 50%;
    height: 80px;
}

/* Style navbar logo */

.logo {
    vertical-align: top;
    padding-left: 5%;
    float: left;

    width: 20%;
}

/* Style navbar links */
.navlink a {
    display: inline-block;
    color: #000000;
    text-align: right;
    padding: 14px;
    text-decoration: none;
}

.navlink a:hover {
    color: rgb(170, 4, 4);
}

.navlink {
    float: right;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
  }
  